# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform configuration directory
.terraform/

# Terraform plan files
*.tfplan

# Terraform variable files (if they contain sensitive information)
terraform.tfvars
*.auto.tfvars

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc